<app-timeline></app-timeline>

<!-- <div *ngFor="let friend of friend_details">
    <h3>{{ friend.user['first_name'] }}</h3>

</div> -->

<div class="container mt-3">
  
    <div class="groups row">
      <ng-container *ngFor="let friend of friend_details">
      <div class="card">
        <img src='http://127.0.0.1:8000/media/default.png' alt="John" style="width:100%">
        <h3>{{ friend.user['first_name'] }}  {{friend.user['last_name']}} </h3>
        <p class="title"></p>
        <b>{{friend.user['email']}} </b>
        <br>
        <p> <button class="btn btn-primary" >view profile</button></p>
        <p> <button class="btn btn-primary" >Cancel</button></p>
    
        
      </div>
      </ng-container>
      </div>
    </div>
