<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="display-3 fw-bold ls-tight">
                        <span class="text-primary">ShoutBox</span></h1>
                    <p class="fs-4 fw-bold ls-tight display-3">
                        ShoutBox helps you connect and share with the peoplr in your life
                    </p>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">

 <form #loginForm = "ngForm" (ngSubmit)="loginHandler(loginForm)">
  <!-- 2 column grid layout with text inputs for the first and last names -->
                        

 <!-- Email input -->
<div class="form-outline mb-4">
    <input type="email" placeholder="Enter your Email address" name="email" class="form-control" ngModel required />
    <label class="form-label" for="form3Example3">Email address</label>
</div>

<!-- Password input -->
<div class="form-outline mb-4">
    <input type="password" placeholder="Enter your password" name="password" class="form-control" ngModel required/>
    <label class="form-label" for="form3Example4">Password</label>
</div>

<!-- Submit button -->
<button type="submit" class="btn btn-primary btn-block mb-4">
Login
</button>
</form>


<!-- Register buttons -->
<div class="text-center">
    <p>Don't have an account ?</p>
    <a routerLink="signup" class="btn btn-primary" role="button" data-bs-toggle="button">Signup</a>
    

        <!-- <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i> -->
        <!-- </button> -->

    <!-- <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
    </button> -->
    </div>
    

        </div>
        </div>
        </div>
    </div>
</div>
</div>


    
</section>



<!-- <router-outlet></router-outlet> -->
 
